include WidgetSectionTitle
include ../dashboard/e-commerce/StatCard
include ../dashboard/e-commerce/EcomCharts
include ../dashboard/CRM/CrmStats
include ../dashboard/CRM/Crm
include ../crm/Analytics
include ../dashboard/e-commerce/TotalSalesChart
include ../dashboard/project-management/ZeroRoadmap
include ../dashboard/project-management/IssueChart
include ../dashboard/project-management/ElevenProgressChart
include ../dashboard/CRM/NewUserList


mixin Stats
  +WidgetSectionTitle({
    icon: 'fas fa-percentage',
    title: 'Number Stats & Charts',
    subtitle: 'You can easily show your stats content by using these cards.'
  }).mb-5#scrollspyStats.pt-8
  .px-3.mb-5
    +Analytics
  .row.g-3.mb-5
    .col-md-6.col-xxl-3
      +TotalOrders
    .col-md-6.col-xxl-3
      +NewCustomers
    .col-md-6.col-xxl-3
      +TopCoupons
    .col-md-6.col-xxl-3
      +PayingCustomer
  .row.gx-4.gy-6.pb-5
    .col-xxl-6
      +NewUserList
    .col-xxl-6 
      +ContactBySources
  .mx-n4.px-4.mx-lg-n6.px-lg-6.bg-white.py-5
    .row.g-6
      .col-12.col-xl-6
        +ProjectionVsActual
      .col-12.col-xl-6
        +ReturningCustomerRate
  .row.g-6.pt-6.align-items-center
    .col-xxl-6 
      +TotalSalesChart
    .col-xxl-6
      +ZeroRoadmap
  .mx-n4.px-4.mx-lg-n6.px-lg-6.bg-white.pt-6.pb-3.mt-6
    .row
      .col-12.col-xl-7.col-xxl-6
        +IssueChart
      .col-12.col-xl-5.col-xxl-6
        +ElevenProgressChart
  .mx-lg-n4
    .row.g-3.pt-3
      .col-xl-5
        +LeadConversion
      .col-xl-7
        +RevenueTarget
  .mx-n4.px-4.mx-lg-n6.px-lg-6.bg-white.pt-6.pb-3.mt-3
    .row.gx-6
      .col-12.col-md-6.col-lg-12.col-xl-6.mb-5.mb-md-3.mb-lg-5.mb-xl-2.mb-xxl-3
        +EmailCampaign
      .col-12.col-md-6.col-lg-12.col-xl-6.mb-1.mb-sm-0
        +MarketingCampaign
  .row.g-6.mt-0
    .col-12.col-md-6
      +SalesTrends
    .col-12.col-md-6
      +CallCampaign