mixin WidgetNavbar 
  .position-fixed.w-100.z-index-5.mx-n4.mx-lg-n6.bg-white.border-bottom.border-300(style='top: 65px')
    nav#widgets-scrollspy.simplebar-scrollspy.navbar.py-0.scrollbar-overlay
      ul.nav
        li.nav-item 
          a.test(href="#scrollspyStats").nav-link.text-700.fw-bold.py-3.lh-1.text-nowrap Number Stats and Charts
        li.nav-item 
          a.test(href="#scrollspyTables").nav-link.text-700.fw-bold.py-3.lh-1.text-nowrap Tables, Files, and Lists
        li.nav-item 
          a.test(href="#scrollspyEcommerce").nav-link.text-700.fw-bold.py-3.lh-1.text-nowrap E-commerce
        li.nav-item 
          a.test(href="#scrollspyUsers").nav-link.text-700.fw-bold.py-3.lh-1.text-nowrap Users & Feed
        li.nav-item 
          a.test(href="#scrollspyForms").nav-link.text-700.fw-bold.py-3.lh-1.text-nowrap Forms
        li.nav-item 
          a.test(href="#scrollspyOthers").nav-link.text-700.fw-bold.py-3.lh-1.text-nowrap Others