mixin ProjectionVsActual
  .me-xl-4
    div
      h3 Projection vs actual
      p.mb-1.text-700 Actual earnings vs projected earnings
    .echart-projection-actual(style='height:300px; width:100%')

mixin ReturningCustomerRate
  div
    h3 Returning customer rate
    p.mb-1.text-700 Rate of customers returning to your shop over time
  .echart-returning-customer(style='height:300px;')